.employee-management-container {
    max-width: 800px;
    margin: auto;
  }
  
  .employee-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .employee-list th, .employee-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .employee-form {
    max-width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 7px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  
    /* Additional styles */
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  